
#app {
    margin: 0 !important;
    padding: 0 !important;
}

.artists_name_containeur{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
    justify-content: flex-start;
    align-items: center;
    width: 50vw;
    height: auto;
    border-radius: 10px;
    overflow: hidden;
}

.artist_name_item {
    margin: 2rem 0rem;
    animation: endGeneric 8s linear infinite;
}

@keyframes endGeneric {
   0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-200%);
  }
}   
