.music-playlist {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 50vh;
    overflow-x: hidden;
    overflow-y: scroll;
    scroll-behavior: smooth;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    gap: 0.5rem;
    margin: auto;
}

.music-item {
    display: flex;
    width: 100%;
    height: fit-content;
    padding: 0.5rem;
    border-top: 1px solid rgba(100, 97, 93, 0.438);
    border-top: 1px solid rgba(100, 97, 93, 0.438);
    border-radius: 5px;
}


.music-cover {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: grey;
}
.music-cover img{
    width: 45px;
    height: 45px;
}
.music-info {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-left: 1rem;
    width: 100%;
}
.music-title {
    display: flex;
    letter-spacing: 1px;
}

.music-2nd-info {
    display: flex;
    width: 90%;
    justify-content:space-between;
}

@media screen and (max-width: 450px)
{
    .music-playlist {
        width: 100%;
    }
}