@import "tailwindcss";

@font-face {
  font-family: "Acumin-normal";
  src: url("./assets/font/acumin-pro-semibold-italic.otf") format("opentype");
  font-weight: 600; /* Semibold = 600 */
  font-style: italic; /* Le fichier est "Semibolditalic" */
  font-display: swap;
}

@font-face {
  font-family: "Acumin-italic";
  src: url("../public/font/Acumin-Pro/Acumin Pro/AcuminPro-Italic.woff2") format("opentype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

/* Style general */
:root {
  font-family: "Acumin-normal", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 600;

  color-scheme: light dark;
  color: rgba(252, 255, 252, 0.8);
  background-color: rgba(255, 252, 255,1 );

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --spe-font-color: rgb(142, 167, 167);

  scrollbar-width: none;       /* Firefox */
  -ms-overflow-style: none;    /* IE 10+ */
}

/* WebKit (Chrome, Safari, Edge) */
.music-playlist::-webkit-scrollbar {
    width: 0;
    height: 0;
    background: transparent;
}

body {
  margin: 0;

  min-width: 320px;
  min-height: 100vh;
}

#app {
  
  height: 100vh;
  max-height: 100vh;
  margin: 0 auto;
  padding: 0.5rem;
  text-align: center;
  display: flex;
  flex-direction: column;

}

@media screen and (max-width: 650px)
{
    #app {
      padding: .5rem;
    }
}

/* Header style */
header {
  z-index: 99;
}

.site-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; /* Centre le logo sur desktop */
  padding: 1rem 2rem;
  z-index: 1000;
}

.logo {
  width: 520px;
  cursor: pointer;
  transition: opacity 0.3s ease;
  z-index: 1001;
}

.logo:hover {
  opacity: 0.8;
}

.logo > img {
  width: 100%;
  height: auto;
}

/* CACHE LE BOUTON MENU */
.menu-button {
  display: none;
}

.main-nav {
  display: none;
  opacity: 0;
  transform: translateY(-20px);
  flex-direction: column;
  gap: 0.2rem;
  position: relative;
  left: auto;
  top: auto;
  transform: none;
  align-self: center; /* Centre le menu aussi */
}

a {
  font-weight: 500;
  color: #555;
  text-decoration: none;
}

a:hover,
.nav-item span:hover {
  color: rgb(75, 107, 107);
}

.nav-item {
  font-size: 3.5rem;
  color: black;
  transition: color 0.3s ease;
}

.nav-item:last-child {
  border-bottom: none;
}

.nav-item span {
  font-family: "Acumin-italic", system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-style: italic;
  color: black;
}

@media screen and (max-width: 650px) {
  .site-header {
    padding: 0.8rem 1rem;
    align-items: flex-start; /* Aligne à gauche sur mobile */
  }

  .logo {
    width: 330px;
    margin-top: 0.5rem;
  }

  .logo > img {
    width: 100%;
  }

  .main-nav {
    width: calc(100% - 2rem);
    align-self: flex-start; /* Aligne le menu à gauche sur mobile */
  }

  .nav-item {
    font-size: 1rem;
  }
}

/* HOME-CAROUSSEL */

.swiper {
  margin: 0; /* Supprime la marge du haut */
  width: 85vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Aligne vers le haut au lieu de center */
  align-items: center;
  padding-top: 6rem; /* Ajoute un padding pour éviter le header */
}

.swiper-slide {
  width: 100%;
  height: 100%;
  display: flex !important;
  flex-direction: column !important;
  justify-content: flex-start !important; /* Aligne vers le haut */
  align-items: center !important;
  padding-top: 2rem; /* Espace depuis le header */
}

.card {
  position: relative;
  width: 900px;
  height: 640px;
  perspective: 2000px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
  margin-bottom: 0.5rem; /* Réduit l'espace avec le titre */
  z-index: 1000;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.9s ease-in-out;
  transform-origin: center center;
  transform-style: preserve-3d;
}

.card.flipped .card-inner {
  transform: rotateY(180deg);
}


.project-info {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
  color: var(--spe-font-color);
    font-family: "Acumin-italic", system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-style: italic;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 30%;
  z-index: 0;
}



.project-info p {
  margin: 0;
}

.artist-info,
.location {
  color: rgb(0, 0, 0);
  text-decoration: none;
  transition: color 0.3s ease;
}

.artist-info:hover,
.location:hover {
  color: rgb(75, 107, 107);
}

@media screen and (max-width : 650px){
  .swiper {
    margin: 0;
    width: 100%;
    height: 80%;
    margin-top: 1rem; /* Réduit le padding sur mobile */
  }


  .card {
    width: 350px;
    height: 80%;
    margin-bottom: 0.3rem; /* Réduit l'espace sur mobile */
  }

  .project-info {
    width: 100%;
    font-size: 1.1rem;
  }
}

/* Radio footer */
.audio-footer {
  position: fixed;
  bottom: 4%;
  left: 0;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 15px 20px;

  font-family: "Acumin-italic", system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-style: italic;
  color: black;
}
.radio-toggle {
  width: 70px;
  height: 70px;
  cursor: pointer;
  transition : transform 0.3s ease, filter 0.3s;
  filter: invert(0.5) brightness(0.8);
}

.radio-toggle:hover {
  transform: scale(1.1);
  filter: invert(1) brightness(1.2);
  
}

#radio-toggle.active {
  animation: spin 3s linear infinite;
}
#radio-toggle.active:hover {
  animation: reversespin 3s linear infinite;
}

@keyframes spin  {
  0% { transform : rotate(0deg); }
  100% { transform : rotate(360deg); }
}

@keyframes reversespin {
  0% {  transform : rotate(0deg) scale(1);}
  25% { transform : rotate(-90deg) scale(1.2)}
  50% { transform: rotate(-180deg) scale(1);}
  75% { transform : rotate(-270deg) scale(1.2)}
  100% { transform : rotate(-360deg) scale(1);}  
}

.custom-player{
  display: none;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px 15px;

}

#custom-player.active{
  display: flex;
}
#track-title {
    font-family: "Acumin-italic", system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-style: italic;
  font-size: 0.9rem;
  text-align: center;
  width: center;
  color: black;
}
.progress-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  color: #333;
  padding: 8px 12px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  box-shadow: 0 8px 20px var(--spe-font-color);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border: 1px solid var(--spe-font-color);
}
#progress {
  -webkit-appearance: none;
  appearance: none;
  flex: 1;
  height: 10px;
  border-radius: 6px;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: inset 0 1px 3px rgba(0,0,0,0.2);
  transition: background 0.3s;
  position: relative;
  overflow: hidden;
  border: none;
}

/* Chrome, Safari, Edge */
#progress::-webkit-slider-runnable-track {
  height: 10px;
  border-radius: 6px;
  background: linear-gradient(90deg, var(--spe-font-color) 0%,var(--spe-font-color) var(--progress, 0%), rgba(255,255,255,0.2) var(--progress, 0%), rgba(255,255,255,0.2) 100%);
  box-shadow: inset 0 1px 4px rgba(0,0,0,0.25);
}

#progress::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: var(--spe-font-color);
  border-radius: 50%;
  border: 2px solid white;
  box-shadow: 0 2px 6px var(--spe-font-color);
  margin-top: -5px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  cursor: pointer;
  position: relative;
  z-index: 2;
}

#progress::-webkit-slider-thumb:hover {
  transform: scale(1.3);
  box-shadow: 0 4px 14px var(--spe-font-color);
}

/* Firefox */
#progress::-moz-range-track {
  height: 10px;
  border-radius: 6px;
  background: rgba(255,255,255,0.2);
  box-shadow: inset 0 1px 4px rgba(0,0,0,0.25);
}

#progress::-moz-range-progress {
  height: 10px;
  border-radius: 6px;
  background: var(--spe-font-color);
  box-shadow: inset 0 1px 4px rgba(0,0,0,0.25);
}

#progress::-moz-range-thumb {
  width: 10px;
  height: 10px;
  background:var(--spe-font-color);
  border-radius: 50%;
  border: 2px solid white;
  box-shadow: 0 2px 6px var(--spe-font-color);
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  position: relative;
  z-index: 2;
}

#progress::-moz-range-thumb:hover {
  transform: scale(1.3);
  box-shadow: 0 4px 14px var(--spe-font-color);
}

.play-pause button {
  display: block;
  cursor: pointer;
  width: 30px;
  height: 30px;
}

.play-pause img {
  position: relative;
  cursor: pointer;
  width: 30px;
  height: 30px;
}

/* timers */
#time-current, #time-total {
  font-size: 0.7rem;
  color: #696262;
  min-width: 35px;
  text-align: center;
}

@media screen and (max-width: 650px) {
  .audio-footer {
    height: 50px;
    padding: 0rem 0.5rem;
  }
  
  .custom-player {
    padding: 0rem 0.5rem;
    gap: 5px;
    width: 60%;
  }
  .progress-container {
    padding: 10px 6px;
  }
  .radio-toggle {
    width: 50px;
    height: 50px;
  }

  #progress {
    height: 8px;
  }
  #progress::-webkit-slider-runnable-track {
    height: 8px;
  }


  #track-title {
    font-size: 0.8rem;
  }

  #progress::-webkit-slider-thumb {
    width: 0;
    height: 0;
    opacity: 0;
    border: none;
  }
  #progress::-moz-range-thumb {
    width: 0;
    height: 0;
    opacity: 0;
    border: none;
  }


  .play-pause button {
    width: 20px;
    height: 20px;
  }
  .play-pause  img{
    width: 20px;
    height: 20px;
  }

  #time-current, #time-total {
    font-size: 0.6rem;
  }

}